name: Go CI

on:
  push:
    branches: [ "main", "*" ]
  pull_request:
    branches: [ "main", "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
    - name: Get dependencies
      run: go mod tidy
    - name: Build
      run: go build ./...
    - name: Run tests
      run: go test ./...
